main section{
    display: flexbox;
    flex-direction: column;
}
main section #idPet{
    display: flexbox;
    flex-direction: column;
    margin-top: 10%;
    background-color: rgba(255,255,255,0.5);
}
main section #idPet p{
    text-align: center;
}
main section button{
    margin-left: 50%;
    transform: translate(-50%);
    width: 85%;
    background-color: transparent;
    margin-top:1vh;
}
main{
    height:70%;
}
footer{
    min-height: 10%;
}