@import url('https://fonts.googleapis.com/css?family=Arimo');
/*cores*/
:root{
    --preto: #292929;
    --fonte-tamanho: 1rem;
}
main section{
    display: flexbox;
    flex-direction: column;
}
main section #idPet{
    display: flexbox;
    flex-direction: column;
    margin-top: 10%;
    background-color: rgba(255,255,255,0.5);
}
main section #idPet p{
    text-align: center;
}
main #transferirPet{
    margin-top: 5vh;
}
main section button{
    margin-left: 50%;
    transform: translate(-50%);
    width: 85%;
    background-color: transparent;
    margin-top:1vh;
}
#tabela{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--preto);
    font-size: var(--fonte-tamanho);
    text-align: center;
    line-height: calc(var(--fonte-tamanho)*2);
    background-color: rgba(255,255,255,0.5);
}
#tabela th{
    padding-left: .5rem;
    font-size: .9rem;
    text-align: center;
}
select{
    margin-left: 50%;
    width: 80%;
    height: 8vh;
    transform: translateX(-50%);
    border-radius: 10px;
}
footer{
    min-height: 10%;
}